<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pull-requests</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
            </ul>

            <div class="text-end unauthenticated">
                <button onclick="location.href='/oauth2/authorization/github'" type="button" class="btn btn-outline-light me-2">Login</button>
            </div>
            <div class="text-end authenticated">
                Logged in as: <span id="user"></span>
                <button onclick="logout()" type="button" class="btn btn-outline-light me-2">Logout</button>
            </div>
        </div>
    </div>
</header>
<div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Owner</td>
            <td>Updated-at</td>
            <td>Head branch</td>
            <td>Base branch</td>
            <td>reviewers</td>
            <td>state</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pullRequest : ${pullRequests}">
            <td th:text="${pullRequest.id}">1</td>
            <td th:text="${pullRequest.title}">Text ...</td>
            <td th:text="${pullRequest.owner}">Text ...</td>
            <td th:text="${pullRequest.updatedAt}">Text ...</td>
            <td th:text="${pullRequest.headBranchName}">Text ...</td>
            <td th:text="${pullRequest.baseBranchName}">Text ...</td>
            <td th:text="${pullRequest.reviewers}">Text ...</td>
            <td th:text="${pullRequest.state}">Text ...</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>